:root {
  --theme-color: #3d00b7;
  --primary-color: #2639ed;
  --success-color: #00ac4f;
  --info-color: #14c8b0;
  --danger-color: #ff002e;
  --dark-color: #000000;
  --gray-color: #565656;
  --theme-icon-color: #f6c441;
  --theme-light-color: #fff;
}
